*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}

header{
    height: 580px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.header-top{
    height: 80px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu{  /* 25%logo-49%link-25%login-2x1px border*/
    background-color: orange;
    width: 70%;
    height: 60%;
    margin: auto;
    border: dotted 1px black;
    display: flex;
    
    
}

.logo{ 
    width: 20%;
    height: 100%;
    border-right: dotted 1px black;
    display: flex;
    align-items: center;
    color: white;
    
}

.link{
    width: 59%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.login{
    width: 20%;
    height: 100%;
    border-left: dotted 1px black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button{
    border-radius: 12px;
    padding: 2px 2px;
    font-size: 9px;
    border-color: white;
}

.scarica{
    border-radius: 12px;
    padding: 5px 5px;
    font-size: 12px;
    border-color: white; 
    color: black;
    background-color: white;
    margin: 0 auto;
    position: relative;
    left: 28%;
    
}

.apri{
    border-radius: 12px;
    padding: 5px 5px;
    font-size: 12px;
    border-color: black; 
    color: white;
    background-color: black;
    margin: 0 auto;
    position: relative;
    left: 28%;
    
    
}

.container-posto{
    width: 40%;
    height: 380px;
    margin: auto;
    margin-top: 70px;
}

h2{
    text-align: center;
    color: white;
    margin-bottom: 15px;
    padding: 15px;
}

p{
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.sezione-1 {
    background-color: white;
    padding: 40px 0px;
    height: 580px;
    display: flex;
}

.container {
    
    width: 70%;  
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.sezione-1 .container .div-sx{
    background-image: url(../img/item1.svg);
    
    
}

.sezione-2 .container .div-sx{
    background-image: url(../img/item2.svg);
}

.sezione-3 .container .div-sx{
    background-image: url(../img/item3.svg);
    background-size: cover;
}

.title-main{
    margin-top: 30px;
    margin-left: 12px;
    color: black;
    text-align: left;
}

.container .p-main{
    text-align: left;
    color: black;
    margin-left: 30px;
}



.sezione-2{
    
background-color: lightgray;
    padding: 40px 0px;
    height: 580px;
}

.sezione-2 .container{
    flex-direction: row-reverse;
}
    
.sezione-3 {
    background-color: white;
    padding: 40px 0px;
    height: 580px;
    display: flex;
}

.sezione-4 {
    background-color: lightgray;
    padding: 40px 0px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-sx{
    width: 60%;
    

}

.div-dx{
    width: 40%;
    
}

.title-4{
    color: black;
    text-align: center;
}

.p-4{
    color: black;
    text-align: center;
    margin: 0 auto;
    align-self: center;
}

.sezione-4 .container{
    height: 50%;
    margin: 0 auto;

}

.div-4{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url(../img/item4-big.svg);
    background-size: cover;
   
    

}

.footer{ /* 680px di cui 580 footer-top e 100 px o più il footer-botton*/
    background-color: rgb(28, 27, 27);
    padding: 10px 0px;
    height: 680px;
    

}

.footer-top{
    background-color: rgb(28, 27, 27);
    padding: 40px 0px;
    height: 580px;
    display: flex;  
}

.container-footer-top{
    
    width: 70%;  
    height: 90%;
    margin: auto;
    display: flex;
}

.nav-1{
width: 20%;
background-color: salmon;
border: dotted 1px black;
}

.nav-2{
    width: 20%;
    background-color: aquamarine;
    border: dotted 1px white;

}

hr{
    color: white;
}

.footer-botton{
    height: 100px;
    background-color: rgb(28, 27, 27);
    padding: 10px 0px;
}

.container-footer-botton{
    width: 70%;
    height: 80%;
    background-color: aquamarine;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 16px;
}

.logo-footer{
width: 15%;
height: 16px;
background-color: salmon;
color: black;
border: dotted 1px black;

}

.bottone-footer{
    width: 15%;
    height: 16px;
    background-color: salmon;
    color: black;
    border: dotted 1px black;
}