*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}
/* inizio header */

header{
    height: 580px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.header-top{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu{  /* 25%logo-49%link-25%login-2x1px border*/
    
    width: 70%;
    height: 60%;
    margin: auto;
    display: flex;
}

.logo{ 
    width: 20%;
    height: 100%;
    display: flex;
    color: white;
}

.link{
    width: 59%;
    height: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.login{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button{
    border-radius: 12px;
    padding: 2px 2px;
    font-size: 9px;
    border-color: white;
}

.scarica{
    border-radius: 12px;
    padding: 5px 5px;
    font-size: 12px;
    border-color: white; 
    color: black;
    background-color: white;
    margin: 0 auto;
    position: relative;
    left: 28%;
    
}

.apri{
    border-radius: 12px;
    padding: 5px 5px;
    font-size: 12px;
    border-color: black; 
    color: white;
    background-color: black;
    margin: 0 auto;
    position: relative;
    left: 28%;
    
    
}

.container-posto{
    width: 40%;
    height: 380px;
    margin: auto;
    margin-top: 70px;
}

h2{
    text-align: center;
    color: white;
    margin-bottom: 15px;
    padding: 15px;
}

p{
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.sezione-1 {
    background-color: white;
    padding: 40px 0px;
    height: 580px;
    display: flex;
}

.container {
    
    width: 70%;  
    height: 80%;
    margin: auto;
    display: flex;
    
    
}

.sezione-1 .container .div-sx{
    background-image: url(../img/item1.svg);
    
    
}

.sezione-2 .container .div-sx{
    background-image: url(../img/item2.svg);
}

.sezione-3 .container .div-sx{
    background-image: url(../img/item3.svg);
    background-size: cover;
}

.title-main{
    margin-top: 30px;
    margin-left: 12px;
    color: black;
    text-align: left;
}

.container .p-main{
    text-align: left;
    color: black;
    margin-left: 30px;
}



.sezione-2{
    
background-color: lightgray;
    padding: 40px 0px;
    height: 580px;
}

.sezione-2 .container{
    flex-direction: row-reverse;
}
    
.sezione-3 {
    background-color: white;
    padding: 40px 0px;
    height: 580px;
    display: flex;
}

.sezione-4 {
    background-color: lightgray;
    padding: 40px 0px;
    height: 1000px;
   
}

.img-4{
    width: 790px;
    height: 660px;
}

.box{
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin:0 auto;
    margin-left: 15%;
    text-align: center;
}

.div-sx{
    width: 60%;
    

}

.div-dx{
    width: 40%;
    
}

.title-4{
    color: black;
    text-align: center;
}

.title-5{
    color: black;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: cover; 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    
}

.scarica-blue{
    border-radius: 12px;
    padding: 9px 9px;
    font-size: 12px;
    color: white;
    background-color: rgb(10, 119, 155);
    margin: 0 auto;
    align-self: flex-end;
}


.p-4{
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-left: 100px;
    
}

.div-4{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-size: cover;
    margin-left: 100px;
    
    
   
    

}

.footer{ /* 680px di cui 580 footer-top e 100 px o più il footer-botton*/
    background-color: rgb(28, 27, 27);
    padding: 10px 0px;
    height: 680px;
    

}

.footer-top{
    background-color: rgb(28, 27, 27);
    padding: 40px 0px;
    height: 580px;
    display: flex;  
}

.title-footer{
    color: rgb(10, 119, 155);
}

.container-footer-top{
    
    width: 70%;  
    height: 90%;
    margin: auto;
    display: flex;
}

.nav-1{    /*rivedere*/
width: 25%;
background-color: salmon;
border: dotted 1px black;
display: flex;
flex-direction: column;
justify-content: space-between;


}

.nav-2{
    width: calc(75%/4);
}

hr{
    color: white;
}

.footer-botton{
    height: 100px;
    background-color: rgb(28, 27, 27);
    padding: 10px 0px;
}

.container-footer-botton{
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 16px;
}

.ita{
    size: 50%;
    line-height: 15px;
    text-align: left;
}

span{
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}

.li-blue{
    color: rgb(10, 119, 155);
}

ul{ 
    list-style-type: none;
}

li{
    padding: 5px;
    color: white;
}

.icons{
    font-size: 12px;
}
.logo-footer{
width: 15%;
height: 16px;

}

.discord{
    width: 95%;
    height: 95%;
}

.bottone-footer{
    width: 15%;
    height: 16px;
   
}